
body {
    background-color: white;
    display: table;
    padding: 0px ;
    text-align: center;
    color: white;
    background: url(Imagens/ZwdKHk.jpg) no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin: 0px;
   }
   
   header {
       font-family: fantasy;
       background-color: black;
       width: 100%;
       position: relative;
       top: 0;
       left: 0;
       right: 0;
       display: flex;
       justify-content: space-around;
       align-items: center;
       box-shadow: 0 0 5px white;
       color: red;
       height: 7.5vh;
       padding: 5px;
   
   }
   .logo {
       font-size: 2rem;
       margin-left: 1rem;
       transition: 1s;
       color: white;
   }
   
   ul a{
       margin-left: 1rem;
       transition: 1s;
       color: red;
   }
   ul a:hover{
       font-size: 1.5rem;
       color: darkred;
   }
   
   footer {
       grid-area: footer;
       background-color: black;
       position: fixed;
       color: rgb(255, 255, 255);
       bottom: 0;
       position: fixed;
       width: 100%;
       text-align: center;
       margin: 0;
       
   
   }
   .layout {
       display: grid;
       gap: 40px;
       grid-template-rows: 40px 40px auto 60px 60px 40px;
       grid-template-columns: 1fr;
       grid-template-areas: 'header' 'sidebar' 'main' 'widget' 'statistics' 'footer';
       height: 100vh;
   }
   
   @media (min-width: 480px) {
       .layout {
           display: grid;
           grid-template-rows: 20px auto auto;
           grid-template-columns: 500px auto auto auto;
           grid-template-areas:
               'header header header'
               'sidebar main main'
               'sidebar widget statistics'
               'footer footer footer';
       }
   }
   main {
       grid-area: main;
       background: darkred;
       box-shadow: 20px;
       text-align: left;
       margin: 5;
       border-radius: 15px;
       box-shadow: 0 0 5px white;
   }
   
   
   .widget {
       grid-area: widget;
       background: darkred;
       width: 1005;
       border-radius: 15px;
       background-image: url(https://services.meteored.com/img/article/hiroshima-ataque-nuclear-com-bomba-atomica-completa-78-anos-1691159246944_1280.jpg);
       background-size: cover;
       background-position: 100%;
       box-shadow: 0 0 5px white;
   }
   
   .statistics {
       grid-area: statistics;
       background: darkred;
       width: 1005;
       border-radius: 15px;
       background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Little_boy.jpg/1200px-Little_boy.jpg);
       background-size: cover;
       background-position: 100% -80px;
       box-shadow: 0 0 5px white;
   }
   
   .sidebar {
       grid-area: sidebar;
       background: darkred;
       width: 100%;
       border-radius: 15px;
       width: relative;
       background-image: url(https://content.nationalgeographic.pt/medio/import/attachment/NatGeo/Historia/Oppenheimer/1.jpg);
       background-size: cover;
       margin: 15px;
       box-shadow: 0 0 5px white;

   }
   